#main-header {
  position: fixed;
  padding-top: 80px;
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: rgb(167, 117, 193);
  background-image: url(../images/asfalt-light.png);
  color: white;
}

#main-header .person {
  margin: 5px;
  font-size: 30px;
}

#main-header .fname {
  font-weight: 500;
}

#main-header .lname {
  font-weight: 300;
}