nav {
  position: fixed;
  top: 0;
  height: 80px; /* Height of Blue Navbar */
  width: 100%;
  z-index: 2000; 
  background-color: #4056A1;
  color: #ffffff;
  padding: 30px;
}

nav #tweet-down {
  background-color: #4056A1;
  border: none;
  float: right;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

nav #arrow-down {
  font-size: smaller;
  margin-right: 65px;
  float: right;
}

@keyframes bounce {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(10px);
  }
}
nav #arrow-down:hover {
  color: red;
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}